@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


.navbar {
    font-size: x-large;
}

.navbar-brand {
    font-size: xx-large;
}

.nav-item {
    padding-right: 20px;
}

h4

p {
    display: flex;
    justify-content: flex-end;
}

* {
    font-family: "Teko", sans-serif;
    /* background-color: #d9d9d9; */
} 

h1 {
    font-size: xxx-large;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

h4 {
    font-size: x-large;
    display: flex;
    justify-content:flex-start;
}


#D1 {
    border-radius: 5;
}

#img{
    background-image:url(//diploone.png);
    border-radius: 5%;
    box-shadow: 50px;
    padding-right: 10px;
}

#diplotwo {
    background-image:url(//diplotwo.jpg);
    border-radius: 10%;
}

table, th, td {
    border: 1px solid rgb(85, 85, 85);
  }



.table {
    max-width: 500px;
    text-align: center;
    min-width: 350px;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}

.positives {
    width: 150px;
    height: 200px;
    max-width: 150px;
    min-width: 150px;
    padding: 5px 5px;
    border-radius: 10px;
    border-color: greenyellow;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.negatives{
    width: 150px;
    height: 200px;
    max-width: 150px;
    min-width: 150px;
    padding: 5px 5px;
    border-radius: 10px;
    border-color: rgb(255, 47, 47);
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

p {
    display: flex;
    justify-content: flex-start;
}

.content {
    padding-right: 15%;
    padding-left: 15%;
}

.carousel-item {
    max-width: 700px;
    height: 600px;
}

.spodok {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 20px;
}

textarea {
    margin-right: 50px;
}

.btn {
    margin-left: 20px;
    margin-right: 20px;
}

.kontakt {
    color: honeydew;
}

@media only screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


   
  }